.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space);
}

.post-link {
  cursor: pointer;
  text-decoration: none;
}

.m-0 {
  margin: 0;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}