.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.space-bottom {
  margin-bottom: var(--space);
}

.post-link {
  cursor: pointer;
  text-decoration: none;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.m-0 {
  margin: 0;
}

.m-1-2 {
  margin: 0.5rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
